*, body {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
}

#navbar {
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
    background-color: grey;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#closeBtn {
    float: right;
    height: 100%;
    width: 20px;
    background-color: red;
    -webkit-app-region: no-drag;
}

#closeBtn:hover {
    background-color: lightcoral;
}

#closeBtn:active {
    background-color: blue;
}

/* .btn {
    background-color: green;
} */

#dataControls {
    visibility: hidden;
    /* visibility: visible; */
}

.questCard {
    background-color: tan;
    margin: 4px;
    border-radius: 2px;
}

#filterControls > div > label {
    display: inline-block;
    width: 50%;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: right;
}

#filterBtn {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.lineBreak {
    width: 100%;
    background-color: white;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#filterSubmitBtn {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 30px;
}